/* ALWAYS INCL THESE @ TOP OF CSS DOCUMENT */
*   {
    box-sizing: border-box;
}

body, html {
    min-height: 100vh;
    margin: 0;
}

body{
    background: linear-gradient(180deg, #F9A8BF 0%, #F9F6EF 35.1%);
}

body.darkPink{
    background: #F576A7;
}

body.lightPink{
    background: #F9A8BF;
}

body.offWhite{
    background: #F9F6EF;
}

body.brown {
    background: #4D0803;
}

img {
    max-width: 100%;
}

/* END OF ALWAYS INCL */

/* FONTS */

@font-face {
    font-family: 'Starberry';
    src: url(assets/fonts/StarberrySwirlDelight.ttf) format('truetype');
}

@font-face {
    font-family: 'Crimson Text';
    src: url(assets/fonts/Crimson_Text/CrimsonText-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Crimson Text Bold';
    src: url(assets/fonts/Crimson_Text/CrimsonText-Bold.ttf) format('truetype');
}

/* TEXT & LAYOUT */

.primary-navBG {
    text-align: center;
    background: #F9F6EF;
    padding: 15px 15px;
    border-radius: 30px;
    border: 10px solid #F9F6EF;
    box-shadow: inset 0 0 0 1px #F576A7, 2px 4px 5px rgba(77, 8, 3, 0.2);
    width: fit-content;
}

ul.primary-nav{
    text-decoration: none;
    font-size: 30px;
    list-style-type: none;
    display: flex;
}

ul.menu-nav {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    padding: 0;
}

ul li.menu-nav {
    line-height: 80%;
}

ul li a {
  display: flex;
  place-items: center;
  color: #923B10;
  padding: 14px 16px;
  text-decoration: none;
  list-style-type: none;
}

ul li a:hover {
  color: #F576A7;
}

a:link {
  text-decoration: none;
  transition: 0.3s;
  color: #B9CB5F;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #F576A7;
  transition: 0.3s;
}

a:active {
  text-decoration: none;
}

header  {
    padding: 5vw 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_faux {
  position: sticky;
  top: 0;
  padding: 10px 16px;
  background: #F9F6EF;

  padding: 3vw 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

h1 {
    font-family: 'Starberry';
    font-size: 5vw;
    font-weight: 500;
    line-height: 1.6;
}

h1.primary-nav {
    font-family: 'Starberry';
    font-size: 60px;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
}

h1.doily {
    font-family: 'Starberry';
    font-size: 4vw;
    font-weight: 500;
    line-height: 80%;
    color:#DB212C;
}

h2, p {
  margin: 10px;
}

h3 {
    font-family: 'Crimson Text Bold';
    font-size: 24px;
}

h4 {
    font-family: 'Crimson Text';
    font-size: 24px;
    text-align: center;
}

h5 {
    font-family: 'Crimson Text Bold';
    font-size: 20px;
}

h6 {
    font-family: 'Starberry';
    font-size: 3vw;
    font-weight: 500;
    text-shadow: 1px 2px 3px rgba(77, 8, 3, 0.7);
    text-align: center;
}

body {
    font-family: 'Crimson Text';
    font-size: 1.5vw;
    color:#4D0803;
    padding: auto;
}

.grid-parent-split {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.grid-parent-3  {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 30px;
}

.wrapper {
    max-width: 1275px;
    margin: auto; 
    /* centres the container */
    padding: 80px;
}

.container {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backImg {
    z-index: -1;
}

.frontImg {
    z-index: 2;
}

.bottomDoily {
    max-width: 100%;
    width: 100%;
    height: auto;
    z-index: -1;
}

.bottomText {
    font-family: 'Crimson Text';
    font-size: 3vw;
    padding-top: 40%;
}

/* COLOUR VARIABLES */

.red {
    color: #DB212C;
}

.yellow {
    color: #FFE8A3;
}

.lightPink {
    color: #F9A8BF;
}

.darkPink {
    color: #F576A7;
}

.choco {
    color: #923B10;
}

.brown {
    color: #4D0803;
}

.offWhite {
    color: #F9F6EF;
}

.green {
    color: #B9CB5F;
}

/* BUTTONS */

.circleButton {
    font-family: 'Starberry';
    font-size: 100px;
	text-decoration: none;

    line-height: 165px;
    padding-right: 10px;
    text-align: center;
  
    color: #DB212C;
    background: #F9F6EF;
    border-radius: 50%;
    border: 10px solid #F9F6EF;
    box-shadow: inset 0 0 0 1px #F576A7, 2px 4px 5px rgba(77, 8, 3, 0.2);

    position: fixed;
    bottom: 30px;
    right: 30px;
    margin-bottom: auto;
    width: 150px;
    height: 150px;
    display: inline;

    transition: 0.3s;
}

.circleButton:hover {
    font-family: 'Starberry';
    font-size: 100px;
	text-decoration: none;

    line-height: 165px;
    padding-right: 10px;
    text-align: center;
  
    color: #B9CB5F;
    background: #DB212C;
    border-radius: 50%;
    border: 10px solid #DB212C;
    box-shadow: inset 0 0 0 1px #F9A8BF, 2px 4px 5px rgba(77, 8, 3, 0.2);

    position: fixed;
    bottom: 30px;
    right: 30px;
    margin-bottom: auto;
    width: 150px;
    height: 150px;
    display: inline;

    transition: 0.3s;
}

.berryButton {
    src: "assets/delicious.svg";

    line-height: 165px;
    padding-right: 10px;
    text-align: center;

    position: fixed;
    bottom: 30px;
    right: 30px;
    margin-bottom: auto;
    width: 150px;
    height: 150px;
    display: inline;

    transition: 0.3s;
}

/* TO-DO LIST 
#index
- align jam jar, doily and text properly

#about
- starberry button in bottom doily
- fix font size in bottom doily

#artDirection
- starberry button in bottom doily
- fix font size in bottom doily
- fix text alignment beside jam jar

#naturalHabitat
- fix delicious text placement

*/
