/* ALWAYS INCL THESE @ TOP OF CSS DOCUMENT */
*   {
    box-sizing: border-box;
}

body, html {
    min-height: 100vh;
    margin: 0;
}

body{
    background: linear-gradient(180deg, #F9A8BF 0%, #F9F6EF 35.1%);
}

img {
    max-width: 100%;
}

/* END OF ALWAYS INCL */

/* FONTS */

@font-face {
    font-family: 'Starberry';
    src: url(assets/fonts/StarberrySwirlDelight.ttf) format('truetype');
}

@font-face {
    font-family: 'Crimson Text';
    src: url(assets/fonts/Crimson_Text/CrimsonText-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Crimson Text Bold';
    src: url(assets/fonts/Crimson_Text/CrimsonText-Bold.ttf) format('truetype');
}

/* TEXT & LAYOUT */

.primary-navBG {
    text-align: center;
    background: #F9F6EF;
    padding: 15px 15px;
    border-radius: 30px;
    border: 10px solid #F9F6EF;
    box-shadow: inset 0 0 0 1px #F576A7, 2px 4px 5px rgba(77, 8, 3, 0.2);
}

.vertAlign {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

ul.primary-nav{
    text-decoration: none;
    list-style-type: none;
    display: flex;
}

ul.menu-nav {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
}

ul li a {
  display: flex;
  place-items: center;
  color: #923B10;
  padding: 14px 16px;
  text-decoration: none;
  list-style-type: none;
}

ul li a:hover {
  color: #F576A7;
}

a:link {
  text-decoration: none;
  transition: 0.3s;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #F576A7;
  transition: 0.3s;
}

a:active {
  text-decoration: none;
}

header  {
    padding: 5vw 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: 'Starberry';
    font-size: 50px;
    font-weight: 500;
}

h2, p {
  margin: 10px;
}

h3 {
    font-family: 'Crimson Text Bold';
    font-size: 24px;
}

h4 {
    font-family: 'Crimson Text Bold';
    font-size: 24px;
    text-align: center;
}

body {
    font-family: 'Crimson Text';
    font-size: 20px;
    color:#4D0803;
}

.grid-parent-split {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.grid-parent-3  {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 30px;
}

.wrapper {
    max-width: 1275px;
    margin: auto; 
    /* centres the container */
    padding: 80px;
}

.backImg {
    position: absolute;
    left: 600px;
    top: 0px;
    z-index: -1;
}

/* COLOUR VARIABLES */

.red {
    color: #DB212C;
}

.yellow {
    color: #FFE8A3;
}

.lightPink {
    color: #F9A8BF;
}

.darkPink {
    color: #F576A7;
}

.choco {
    color: #923B10;
}

.brown {
    color: #4D0803;
}

.offWhite {
    color: #F9F6EF;
}

.green {
    color: #B9CB5F;
}

/* BUTTONS */

/* .strawbutton {
    /* the circular strawberry button 
    that takes you back to the main menu */

.circleButton {
    font-family: 'Starberry';
    font-size: 100px;
	text-decoration: none;

    line-height: 165px;
    padding-right: 10px;
    text-align: center;
  
    color: #DB212C;
    background: #F9F6EF;
    border-radius: 50%;
    border: 10px solid #F9F6EF;
    box-shadow: inset 0 0 0 1px #F576A7, 2px 4px 5px rgba(77, 8, 3, 0.2);

    position: absolute;
    right: 0px;
    margin-bottom: auto;
    width: 150px;
    height: 150px;
    display: inline;

    transition: 0.3s;
}

.circleButton:hover {
    font-family: 'Starberry';
    font-size: 100px;
	text-decoration: none;

    line-height: 165px;
    padding-right: 10px;
    text-align: center;
  
    color: #B9CB5F;
    background: #DB212C;
    border-radius: 50%;
    border: 10px solid #DB212C;
    box-shadow: inset 0 0 0 1px #F9A8BF, 2px 4px 5px rgba(77, 8, 3, 0.2);

    position: absolute;
    right: 0px;
    margin-bottom: auto;
    width: 150px;
    height: 150px;
    display: inline;

    transition: 0.3s;
}

/* TO-DO LIST 
#mainMenu
- full pink bg
- jam jar svg
- menu nav clickable text
- red circle doily svg

#about
- pink to white gradient bg
- red ellipse doily
- starberry button
- cutoff doily at bottom svg

#artDirection
- pink to white gradient bg
- sticky nav?
- red ellipse doily
- jam jar svg
- link to 15anni miiku fig
- brown doily
- green doily
- pink doily
- starberry button
- cutoff doily at bottom svg

*/
